#errDialogPane{
	-fx-background-color: #f6f6f6;
}

#successIconPane{
	-fx-background-image: url("../../images/icons/ok.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 48 48;
    -fx-background-position: center center;
}